.blog_post {
    width: 100%;
    height: fit-content;
}

.section {
    width: 100%;
    height: fit-content;
    position: relative;

    overflow: hidden;
}

.section1 {
    margin: 0 0 20px 0;
    padding: 30px 0 30px 20px;
    background-color: #D48DA3;
}

.section2, .section4 {
    margin: 0 0 50px 0;
    padding: 0 50px;
    /* background-color: red; */
}

.section3 {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #f7e3cc;
}

.post_title {
    width: 90%;

    font-size: 60px;
    font-weight: 900;

    color: white;
}

.post_subtitle {
    margin: 0 0 0 20px;
    width: 100%;

    font-size: 40px;
    font-weight: 600;

    color: white;
}

/* ***RESPONSIVE CODE*** */
@media only screen and (max-width: 3840px) {
    .post_title {
        font-size: 130px;
    }

    .post_subtitle {
        font-size: 80px;
    }
}

@media only screen and (max-width: 1920px) {
    .post_title {
        font-size: 60px;
    }

    .post_subtitle {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1440px) {
    .post_title {
        font-size: 60px;
    }

    .post_subtitle {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .post_title {
        font-size: 70px;
    }

    .post_subtitle {
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {
    
    .section2,
    .section4 {
        padding: 0 20px;
    }

    .post_title {
        font-size: 60px;
    }

    .post_subtitle {
        font-size: 40px;
    }
}

@media only screen and (max-width: 630px) {
    .post_title {
        font-size: 50px;
    }

    .post_subtitle {
        font-size: 30px;
    }
}